.btnDark {
  padding: 12px 32px;
  background: var(--base-black, #1b1b1b);
  color: var(--base-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  outline: none;
  border: 1px solid var(--base-black, #1b1b1b);
  text-decoration: none;
}
.btnDark_long {
  padding: 12px 32px;
  background: var(--base-black, #1b1b1b);
  color: var(--base-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  outline: none;
  border: 1px solid var(--base-black, #1b1b1b);
  text-decoration: none;
  width: 100%;
}
.btnWhite_long {
  padding: 12px 32px;
  background: white;
  color: var(--base-black, #1b1b1b);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  outline: none;
  border: 1px solid var(--base-black, #1b1b1b);
  text-decoration: none;
  width: 100%;
}
.btnWhite_long.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btnWhite_long.center .text {
  color: var(--base-black, #282828);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}
.btnWhite {
  padding: 12px 32px;
  background: white;
  color: var(--base-black, #1b1b1b);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  outline: none;
  border: 1px solid var(--base-black, #1b1b1b);
  text-decoration: none;
}

/* card */
.card-product-one {
  width: 278px;
  text-decoration: none;
  transition: 1s ease;
  overflow: hidden;
}
.card-product-one .container_image {
  width: 278px;
  height: 388px;
  text-decoration: none;
  overflow: hidden;
  transition: 1s ease;
}
.card-product-one:hover img {
  transform: scale(1.6) rotate(20deg);
}
.card-product-one img {
  width: 278px;
  height: 388px;
  object-fit: cover;
  padding-bottom: 12px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

.card-product-one .card-tittle {
  color: var(--base-black, #1b1b1b);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.card-product-one .card-kelamin {
  color: var(--neutral-06, #919192);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.card-product-one .card-harga {
  color: var(--base-black, #1b1b1b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.btn_tambah_alamat {
  padding: 24px 0 56px 0;
  cursor: pointer;
}

@media (max-width: 991px) {
  .btnDark {
    padding: 10px 18px;
  }
  .btnWhite {
    padding: 10px 18px;
  }
}
